<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets App</title>
  </head>
  <body>
    <a href="/planets">Browse Planets</a>
    <h1>Welcome to the Planets app!</h1>
    <img     
        src="https://i.ibb.co/3y6XfwLZ/jupiter-1.png"
        alt="cartoon-style illustration of Jupiter"
    />
    <p>An app for exploring your favourite planets in the universe.</p>
  </body>
     <footer>Icon by <a href="https://www.flaticon.com/authors/freepik">Freepik</a></footer>
</html>